<div class="container m-5">

    <form [formGroup]="signupForm" *ngIf="signupForm" (ngSubmit)="onSubmit()">
    
        <div class="form-group text-white">
            <label for="lastname">Nom</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastName">
    
        </div>
    
        <div class="form-group text-white ">
            <label for="firstname">Prénom</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstName">
    
        </div>
    
        <div class="form-group text-white ">
            <label for="address">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
    
        <div class="form-group text-white ">
            <label for="phone">Téléphone</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
    
        <div class="form-group text-white ">
            <label for="password">Mot de passe</label>
            <input type="text" class="form-control" id="password" formControlName="password">
        </div>
    
        <div class="form-group text-white " *ngIf="addresses$ | async as addressesList">
            <label for="address">Adresse</label>
            <select class="form-control" id="address" formControlName="address">
                <option *ngFor="let address of addressesList" [value]="address.addressId">{{ address.address }}, {{ address.zip }}, {{ address.city }}</option>
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="text-white">
        {{ signupForm.value | json }}
    </div>
</div>
